<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <instorepickup>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Silk\InStorePickUp\Model\Carrier\Shipping</model>
                <name>Free</name>
                <price>0.00</price>
                <title>In-store Pick Up</title>
                <type>I</type>
                <specific_error_msg>This shipping method is not available. To use this shipping method, please contact us.</specific_error_msg>
            </instorepickup>
        </carriers>
    </default>
</config>