<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\LayeredNavigation\Block\Navigation\FilterRenderer" type="Silk\LayeredNavigation\Block\Navigation\FilterRenderer" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Category" type="Silk\LayeredNavigation\Model\CatalogSearch\Layer\Filter\Category" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Price" type="Silk\LayeredNavigation\Model\CatalogSearch\Layer\Filter\Price" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute" type="Silk\LayeredNavigation\Model\CatalogSearch\Layer\Filter\Attribute" />
    <!--<preference for="Magento\Catalog\Model\Layer\FilterList" type="Silk\LayeredNavigation\Model\Catalog\Layer\Filter\FilterList" />-->
    <preference for="Magento\Framework\DB\Helper\Mysql\Fulltext" type="Silk\LayeredNavigation\Helper\Mysql\Fulltext" />
    <type name="Magento\Framework\Search\Adapter\Mysql\Query\Builder\Match">
        <plugin name="catalog_search_change_condition_type" type="Silk\LayeredNavigation\Model\Plugin\Search\ChangeSearchConditionType"/>
    </type>
</config>