<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <getip>
            <geoip_group>
                <active>0</active>
            </geoip_group>
        </getip>
    </default>
</config>